/* global */  
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Coda:wght@400;800&display=swap');

:root {
    --font-primary:  'Lato', sans-serif;
    --font-acent:  'Coda', sans-serif;
    --color-off-black: #232323;
    --color-red: #BD2026;
    --color-off-white: #ededed;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
        local('MaterialIcons-Regular'),
        /* 
        need to patch for local fonts
        */
        url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
        url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
        url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

.iframe-parent {
    position: relative;
    padding-bottom: 56.25%;
}

.iframe-parent iframe {
    position: absolute;
    width: 100%;
    height: 100%;
}

* {
    font-family: var(--font-primary);
}

body {
    margin: 0px;
}

a {
    font-weight: 900;
    color: var(--color-red);
    text-decoration: none;
    transition: 200ms ease-in-out;
}

a:hover {
    opacity: .7;
}

h2 {
    font-weight: 400;
    font-size: 48px;
    line-height: 68px;
    font-family: var(--font-acent);
    margin: 0%;
}

p {
    font-size: 18px;
    line-height: 25px;
    margin: 0%;
    margin-bottom: 1em;
}

.container {
    width: 1200px;
    max-width: 92%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; 
}

/* header */
header {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0;
    padding-right: 0;
}

header .nav-content {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
    
header .nav-content .contact {
    font-size: 24px;
}

header .nav-content .contact a {
    display: inline-flex;
    align-items: center;
    gap: 6px;
}

header .nav-content .contact a:nth-of-type(1) {
    padding-right:1em;
    margin-right: 1em;
    border-right:1.5px solid black;
}

header .nav-content .contact a img {
    padding-right: 6px;
}

header .nav-content nav {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    gap: 36px;
}

header .nav-content nav a {
    font-weight: 600;
    color: var(--color-off-black);
    text-transform: uppercase;
    font-size: 24px;
    display: flex;
    align-items: center;
}

header .nav-content nav > li {
    align-self: flex-end;
}

header .nav-content nav li .sub-menu {
    background-color: white;
    list-style: none;
    margin: 0;
    padding: 1em;
    position: absolute;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, .55);
    max-height: 1px;
    visibility: hidden;
    transition: 275ms ease-in-out;
    opacity: 0;
}
header .nav-content nav > li:hover .sub-menu {
    visibility: visible;
    max-height: 100vh;
    opacity: 1;
}

header .nav-content nav li .sub-menu a {
    font-size: 20px;
    text-transform: capitalize;
    margin-bottom: .5em;
    display: block;
    font-weight: 400;
}

header .nav-content nav li .sub-menu li:nth-last-of-type(1) a {
    margin: 0;
}

/* footer */

footer {
    background: var(--color-off-black);
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 0;
    padding-right: 0;
}

footer .nav-content {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

footer .nav-content a {
color: var(--color-off-white);
font-size: 14px;
text-align: right;
}

footer .nav-content nav {
    display: flex;
    list-style: none;
    justify-content: flex-end;
}

footer .nav-content nav li {
    margin-left: 24px;
}


footer .nav-content nav li a {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 600;
    color: white;
}

 /*
 _   _                      ____
| | | | ___  _ __ ___   ___|  _ \ __ _  __ _  ___
| |_| |/ _ \| '_ ` _ \ / _ | |_) / _` |/ _` |/ _ \
|  _  | (_) | | | | | |  __|  __| (_| | (_| |  __/
|_| |_|\___/|_| |_| |_|\___|_|   \__,_|\__, |\___|
                                       |___/ 
*/


#home-page .body-content {
    background-color: var(--color-off-white);
    padding: 100px 0;
}

#home-page .body-content .container {
    gap: 4em;
}

#home-page .body-content .container .column {
    width: 50%; 
}

#home-page .body-content .container .column strong {
    display: flex;
    align-items: center;
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    margin-bottom: 1em;
}      

#home-page .body-content .container .column strong img {
    margin-left: .5em;
}